@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-start {
        @apply flex items-start justify-center;
    }
}

@layer components {
    .h1-bold {
        @apply text-3xl font-quicksand-bold;
    }

    .label {
        @apply text-base text-start w-full font-quicksand-medium text-gray-500 pl-2;
    }

    .input {
        @apply rounded-lg p-3 w-full text-base font-quicksand-semibold text-dark-100 border-b leading-5;
    }

    .custom-btn {
        @apply bg-primary rounded-full p-3 w-full flex flex-row justify-center;
    }

    .paragraph-semibold {
        @apply text-base font-quicksand-semibold;
    }

    .base-regular {
        @apply text-lg font-quicksand;
    }

    .base-bold {
        @apply text-lg font-quicksand-bold !important;
    }

    .tab-icon {
        @apply flex min-w-20 items-center justify-center min-h-full gap-1 mt-12;
    }

    .category-card {
        @apply w-full h-48 my-3 rounded-xl overflow-hidden shadow-lg flex items-center gap-5;
    }

    .category-card__info {
        @apply flex-1 h-full flex flex-col justify-center items-start gap-4;
    }
}
