@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-start {
        @apply flex items-start justify-center;
    }
}

@layer components {
    .h1-bold {
        @apply text-3xl font-quicksand-bold;
    }

    .category-card {
        @apply w-full h-48 my-3 rounded-xl overflow-hidden shadow-lg flex items-center gap-5;
    }

    .category-card__info {
        @apply flex-1 h-full flex flex-col justify-center items-start gap-4;
    }
}
